<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Về chúng tôi</h6>
                    <p class="text-white">
                        Cửa hàng GearGaming với sản phẩm các dòng laptop và máy tính chất lượng.
                    </p>
                    <p class="text-white">Địa chỉ cửa hàng:</p>
                    <div class="text-white"><i class="fa fa-location-arrow"></i> Hiệp Thuận, Phúc Thọ, Hà Nội</div>
                    <div class="text-white"> <i class="fa fa-mobile"></i> Phone: 0971126791</div>
                    <div class="text-white"><i class="fa fa-clock-o"></i> Mở cửa: Thứ 2-7: 8h-22h (CN: 13h-20h)</div>
                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Bản tin</h6>
                    <p class="text-white">Luôn nhận được thông báo mới nhất!</p>
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                       required="" type="email">
                                <button class="click-btn btn btn-default"><a class="nav-link" href="/contact" style="padding: 0px;"><i nz-icon nzType="send" nzTheme="outline"></i></a></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 >Theo dõi</h6>
                    <p class="text-white">Theo dõi chúng tôi thông qua các mạng xã hội!</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0 text-white" style="font-size: 16px;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Bản quyền thuộc về Đình Nam <i class="fa fa-heart-o" aria-hidden="true"></i>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>