<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đặt hàng thành công</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <nz-result nzStatus="success" nzTitle="Đặt hàng thành công!"
        nzSubTitle="Cảm ơn bạn đã tin tưởng và ủng hộ shop. Chúc bạn một ngày làm việc hiệu quả!">
        <div nz-result-extra>
           <a href="/myorder"> <button nz-button nzType="primary">Xem đơn hàng</button></a>
           <a href="/products"><button nz-button>Mua nữa!</button></a> 
        </div>
    </nz-result>
</div>